
.icon {
    justify-content: center;
    display: flex;

}

header {
    border-bottom: black solid 2px;    
}

.menu-h {
    display: none;
}

@media (max-width:1170px){
    .menu-h {
        display: flex;
    }
}

.icon img {
    margin: 12rem;
}

.box-logo{
    width: 100%;
}

@media (max-width:1170px){
    .box-logo {
        display: flex;
        justify-content: center;
    }
}

.header-img {
    width: 45vw;

}
.container {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 99vw;

}

.box-list{
    width: 100%;
}

@media (max-width:1170px){
    .box-list {
        display: none;
    }
}

.img-menu{
    width:5vw;
}

li {
    cursor: pointer;
}

li:hover {
    opacity: 0.5;

}

.container ul {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    width: 19vw;
}

.container ul li {
    margin: 1vw;
}

.fundo {
    background-image: url(img/SPN2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 73vh;
    width: 100%;
    display: flex;
    margin-top: 1rem;
}



.box-dean {
    display: flex;
    border:black double 5px;
    padding: 20px;
}

.box-sammy {
    display: flex;
    border:black double 5px;
    padding: 20px;
}

.box-castiel {
    display: flex;
    border:black double 5px;
    padding: 20px;
}

p {
    font-size: 25px;
    padding: 20px;
}
h2 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    
}

.img-man-dean {
    border-radius: 10px;
    width: 100%;;
}

.img-man-sammy {
    border-radius: 10px;
    width: 100%;;
}

.img-man-castiel {
    border-radius: 10px;
    width: 100%;;
}

.box-img-dean {
    border-radius: 10px;
    width: 100%;
    
}

.box-img-sammy {
    border-radius: 10px;
    width: 100%;;

}

.box-img-castiel {
    border-radius: 10px;
    width: 70%;

}